.my-layout {
  overflow: visible !important;

  .vben-layout-header {
    height: 46px;
    line-height: 46px;
  }

  .vben-layout-sideBar--mix {
    top: 46px;
    height: calc(100% - 46px);
  }

  .vben-basic-table {
    &.xl\:w-10\/12 {
      padding: 10px 10px;
    }
  }

  .vben-basic-table-form-container {
    padding: 10px;
    .ant-form {
      margin-bottom: 10px;
      padding: 12px 6px 4px 16px;
      .ant-row > div:last-child {
        .ant-form-item {
          margin-right: 0;
        }
      }
    }
    .ant-form-item {
      margin-right: 10px;
    }
    .ant-form-item-control-input-content .ant-btn {
      margin-right: 10px;
    }
  }

  .vben-menu-vertical .vben-menu-item,
  .vben-menu-vertical .vben-menu-submenu-title {
    padding: 9px 24px;
  }

  .ant-tabs-tab {
    padding-left: 18px;
    padding-right: 18px;
  }

  .vben-multiple-tabs {
    //   height: 40px;
    //   line-height: 40px;

    //   .ant-tabs-small {
    //     height: 40px;
    //   }

    //   .ant-tabs-card.ant-tabs-top > .ant-tabs-nav {
    //     height: 40px;
    //     padding-top: 0;

    //     .ant-tabs-tab {
    //       height: 40px;
    //       border-radius: 0;
    //       line-height: 40px;

    //       .ant-tabs-tab-remove {
    //         height: 40px;
    //       }
    //     }

    //     &::before {
    //       border-bottom: none;
    //     }
    //   }
    // }

    // .vben-multiple-tabs-content__extra-quick, .vben-multiple-tabs-content__extra-redo, .vben-multiple-tabs-content__extra-fold {
    //   height: 40px;
    //   line-height: 40px;

    //   .anticon {
    //     vertical-align: middle !important;
    //   }
    .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab {
      border-radius: 6px 6px 0 0;
    }
  }

  // table
  .ant-table.ant-table-small {
    font-size: 12px;
  }
  .ant-table-small .ant-table-thead > tr > th {
    font-size: 13px;
  }
  .ant-table.ant-table-small .ant-table-thead > tr > th {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 22px;
  }
  .ant-table.ant-table-small .ant-table-tbody > tr > td {
    padding-top: 6px;
    padding-bottom: 6px;
    line-height: 18px;
  }

  .vben-basic-table {
    .ant-table.ant-table-small .ant-table-thead > tr > th {
      padding-top: 8px;
      padding-bottom: 8px;
      height: 39px;
    }
    .ant-table.ant-table-small .ant-table-tbody > tr > td {
      padding-top: 3px;
      padding-bottom: 3px;
      height: 31px;
    }
    .ant-table-wrapper {
      padding: 10px 16px;
      .ant-table-title {
        padding-bottom: 10px !important;
      }
    }
  }
  .vben-basic-table-title {
    font-size: 14px !important;
  }

  .vben-basic-table-header__toolbar > * {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  .ant-btn {
    box-shadow: none;
  }

  // 流程表单
  .process-box {
    width: calc(100% - 21px);
    height: calc(100% - 20px);
    margin: 10px;
    border-radius: 2px;

    .header-box {
      padding: 0 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .workflow-approve-box {
        .button-content {
          margin: 0;
          display: flex;
          & > .ant-btn:last-child {
            margin-right: 0;
          }
        }
      }
      .header-left {
        height: 56px;
        font-size: 16px;
        line-height: 56px;
      }
    }

    .ant-card {
      border-radius: 0;
    }

    .ant-card-head {
      padding: 0 16px;
      font-size: 14px;
      border-bottom: none;
    }
    .ant-card-head-title {
      display: flex;
      align-items: center;
    }
    .ant-card-head-title::before,
    .vben-basic-table-title::before {
      content: '';
      display: inline-block;
      width: 3px;
      height: 16px;
      background-color: #1890ff;
      margin-right: 10px;
    }
    .ant-card-body {
      padding: 0;
      & > .ant-row {
        padding: 0 16px;
      }
      .ant-table-wrapper {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
    .vben-basic-table-header__toolbar {
      .ant-btn {
        font-size: 12px;
        height: 28px;
        padding: 3px 13px;
      }
    }
    &>.content {
      height: calc(100vh - 20px - 57px);
      overflow-y: auto;
      overflow-x: hidden;
      padding-bottom: 16px;
    }
  }
}
